.pageContentWrapper {
  padding-block: 50px;
}
.paragraph {
  font-size: 15px;
  line-height: 24px;
  color: var(--text);
  font-weight: 400;

  b {
    font-weight: 600;
    color: var(--secondary);
  }
  a {
    font-weight: 700;
    color: var(--secondary);
    position: relative;
    &:after {
      content: "";
      border-bottom: 1px dotted var(--secondary);
      width: 100%;
      position: absolute;
      bottom: -2px;
      left: 0;
      transition: all 0.3s linear;
    }
    @media screen and (min-width: 992px) {
      &:hover {
        &:after {
          width: 0;
        }
      }
    }
  }
  ul,
  ol{
    list-style-type: disc;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    li{
        padding: 3px 0;
        &::marker{
            color: var(--secondary);
            font-weight: 700;
        }
    }
  }
  ol{
    list-style-type: decimal;
  }
}
